.carousel {
    width:640px;
    height:360px;
    display: table;
    margin: 0 auto;
    color: #fff;
  }

  .inner{
    color:white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
  }
