.AboutUs{
    background-color: white;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: #1761a0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.item{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 350px;
    margin: 10px;
}

.img-aboutus{
    width: 349px;
}

.h3AboutUs{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    color: #1761a0;
    font-weight: bold;
}