.btn-petscreate{
    font-size: 20px;
    font-weight: bold;
    color: #1761a0;
    border: none;
    background-color: #d7ecff;
    width: 150px;
    margin-left: 5px;
}

.btn-petscreate:hover{
    transition: all 1s ease;
    transform: scale(1.1);
}

.btns-navBar{
    margin-left: 70vw;
    margin-top: 15px;
}

.card-profile{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.container-info{
    border-radius: 10px;
    background-color: #d7ecff;
    height: 550px;
    width: 400px;
    margin-top: 5%;
    color: #1761a0;
    align-items: center;
}

.image-card{
    border-radius: 10px 10px 0px 0px;
    width: 399px;
    height: fit-content;
}

.nav-bar-profile{
    background-color: #d7ecff;
    display: flex;
    flex-direction: row;
}

.pc{
    margin-top: 20px;
    text-decoration: none;
    color: #1761a0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.profile{
    width: 100vw;
    height: 100vh;
}