.profile{
    width: 100vw;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/1933464/pexels-photo-1933464.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-repeat: no-repeat;
}

.card-profile{
    display: flex;
    height: 300px;
    width: 100vh;
    margin-left: 100px;
}

.container-info{
    height: 350px;
    width: 100vh;
    background-color: rgba(255, 255, 255, 0.432);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:50px;
    display: flex;
    justify-content: center;
    box-shadow: 3px 3px 15px 8px rgb(27, 26, 26);
    border-radius: 10px;
    font-weight: bolder;
}
.btn-petscreate{
border: none;
background-color: white;
border-radius: 20px;
box-shadow: 3px 3px 12px 8px rgb(39, 37, 37);
}
.btn-petscreate:hover{
    transition: all 1s ease;
    transform: scale(1.1);
}