.container-createpet{
width: 100vw;
height: 100vh;
background-image: url("https://images.pexels.com/photos/3631659/pexels-photo-3631659.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
background-repeat: no-repeat;
position: fixed;
}