.color-back{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn-primary{
    color: #fff;
    background-color: #1761A0 ;
    border-color: #1761A0 ;
    font-weight: bold;
}

.icon-img{
    width: 70px;
    height: 70px;
    margin-bottom: 2rem;
}

.reset{
    font-weight: bold;
    color:#1761A0;
}