.form-pet{
    height: 110vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.brand-title-modPet{
    width: 100vw;
    background-color:#d7ecff;
    border: none;
    font-size: 50px;
    font-weight: bold;
    color: #1761a0;
}
.containerForm{
    margin-top: 8vh;
    width: fit-content;
    height: fit-content;
    background-color: #d7ecff;
}
.form-btnPets{
    background-color: #1761a0;
    color: white;
    border-radius: 5px;
    height: 40px;
    border: none;
    font-weight: bold;
}