.lostCards {
    height: 100vh;
    width: 100vw;
    background-color: white;  
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;  
    margin-top: 100px;
}

.lostCards2{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-lost{
    width: 100vw;
    background-color: #d7ecff;
    position: fixed;
    z-index: 1;
}