a{
    text-decoration: none;
    color: #1761a0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.body-card{
    display: flex;
    flex-direction: column;
    margin-top: 5%;
}

.card-clinic{
    margin: 5px;
    box-shadow: 5px 5px 10px 5px darkgrey;
    border-radius: 10px;
}

.card-clinic:hover{
    transform:scale(1.1);
    transition: all 1s ease;
}


.card-title{
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
}

.size-card{
    border-radius: 10px;
    background-color: #d7ecff;
    height: 550px;
    width: 400px;
    margin-top: 2%;
    color: #1761a0;
    align-items: center;
}

.image-card{
    width: 349px;
    height: fit-content;
}

.reserve{
    font-weight: bold;
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-bottom: 2px;
    animation: glowing2 1500ms infinite;
}

@keyframes glowing2 {
    0% {
      background-color: #d7ecff;
      box-shadow: 0 0 10px 5px  #1761a0;
    }
    50% {
      box-shadow: 0 0 20px 8px white;
      background-color:  #d7ecff;
    }
    100% {
      background-color: #d7ecff;
      box-shadow: 0 0 10px 5px  #1761a0;
    }
}