.card-lost{
    border-radius: 10px;
    height: 400px;
    width: 350px;
    margin-top: 2%;
    color: #1761a0;
    align-items: center;
    margin: 5%;
    margin-left: 20px;
    margin-right: 20px;
    border: solid 5px #1761a0;
}
.card-lost:hover{
    transform: scale(1.01);
    box-shadow: 0px 0px 10px 5px rgb(184, 184, 184);
}

.body-lost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.icons{
    border: none;
    border-radius: 0%;
}
