.card-reserve{
    border-radius: 15px;
    border-color: #1761a0;
    border-width: 5px;
    height: 400px;
    width: 350px;
    margin-top: 2%;
    color: #1761a0;
    align-items: center;
    margin: 5%;
    margin-left: 20px;
    margin-right: 20px;
}
.card-reserve:hover{
box-shadow: 0px 0px 5px 2px lightgrey;
}

.body-reserve{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
}

.nameT{
    text-decoration: underline;
}