body{
    margin: 0%;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
    margin: 0%;
}

.home-btn{
    width: 100vw;
    height: 60px;
    background-color: #d7ecff;
    margin-bottom: 30px;
    position: fixed;
    z-index: 1;
}

.inicio-detailClinic{
    background-color: transparent;
    border: none;
}

.card-detail-clinic{
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.foto-nombre{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    justify-content: space-around;
}
.titleClinic{
    margin-left: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #1761a0;
}
.img-clinic{
    height: 250px;
    width: auto;
}
.p{
    font-size: 20px;
    font-weight: bold;
    color: #1761a0;
}