.home-allinfo {
  background-color: #1761a0;
  width: auto;
  height: auto;
}

.home-text {
  margin: 0;
  padding: 0;
  font-size: large;
  text-align: center;
  color: #d7ecff;
}

.img-btn {
  display: block;
  margin: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2%;
}

.foto-nombre{
  padding-top: 4%;
}

.img-clinic {
  width: auto;
  display: block;
  margin: auto;
  border-radius: 5%;
}

.titleClinic {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #1761a0;
}

.address{
  text-align: center;
  margin-bottom: 3%;
}

.rest-data{
  text-align: center;
}