.paginate{
width: 400px;
margin: 5px;
margin-left: 37vw;
align-items: center;
display: flex;
flex-direction: row;
justify-content:space-between;
}

.btn-paginated{
font-family: 'Times New Roman', Times, serif;
font-weight: bold;
background-color: #d7ecff;
color: black;
margin: 15px;
text-transform: uppercase ;
border-color: #1761a0;
}

.btn-paginated:hover{
transition: all 1s ease;
transform: scale(1.2);
}