* {
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.blue-backg {
  background-color: white;
  color: black;
  height: 280vh;
  width: 100vw;
}

.lost-please{
  color: black;
}

.barSearch {
  display: table;
  margin: 0 auto;
}

.barReserve {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.landingLink{
color: #1761a0;
margin-left: 10px;
}

.test-hide {
  display: none;
}

.title-cities {
  margin-top: 10px;
  background-color: #d7ecff;
  text-align: center;
}

.photo-cities{
  box-shadow: 2px 2px 10px 5px grey;
}

.photo-cities:hover{
  cursor: pointer;
  transform: rotate(-10deg);
  transition: all 1s ease;
}

.all-cities {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cards {
  display: flex;
  flex-direction: row;
  margin: 30px;
  margin-top: 40px;
}


.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #d7ecff;
  color: #1761a0;
}

.SearchBar-Reserve{
  display: flex;
  flex-direction: column;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #1761a0;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #4590d1;
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.Carousel-logo-searchbar{
  display: flex;
  flex-direction: row;
}

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .test-hide {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 3rem;
    width: 30px;
    height: 21px;
  }
}
