* {
box-sizing: border-box;
}

.all-cities {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

body {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin: 0;
padding: 0;
}

.barSearch {
display: table;
margin: 0 auto;
}

.barReserve {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.blue-backg {
background-color: white;
color:#1761a0;
height: 200vh;
width: 100vw;
}

.break{
margin-top: 2%;
height: 50px;
background-color: #d7ecff;
font-size: 30px;
color: #1761a0;
font-weight: bolder;
width: 100vw;
}

.brand-title {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 40px;
margin-left: 2vw;
}

.cards {
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 30px;
margin-top: 40px;
}

.carousel {
width: 200px;
}

.Carousel-logo-searchbar{
margin-top: 5vh;
display: flex;
flex-direction: row;
}

.center-img{
margin-left: 45%;
}

.lost-please-home{
width: 1500px;
text-align: center;
font-size: 50px;
margin-top: 15vh;
color: #1761a0;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.landingLink{
color: #1761a0;
}

.navbar-links {
  height: 30px;
}

.navbar-links ul {
  display: flex;
  margin-right: 1vw;
}

.navbar-links li {
  list-style: none;
}

.navbar-links a {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 18px;
display: flex;
flex-direction: row;
margin-left: 20px;
text-decoration: none;
color: #1761a0;
}

.navbar-links li:hover {
background-color: #4590d1;
}

.navbar {
display: flex;
position: fixed;
z-index: 3; 
width: 100vw;
height: 130px;
top: 0;
justify-content: space-between;
color: #1761a0;
align-items: center;
background-color: #d7ecff;
}

.photo-cities{
border-radius: 15px;
height: 150px;
width: 300px;
}

.photo-cities:hover{
  box-shadow: 0px 0px 5px 3px grey;
  cursor: pointer;
  transform: rotate(-2deg);
  transition: all 1s ease;
}

.SearchBar-Reserve{
display: flex;
flex-direction: column;
}

.test-hide {
display: none;
}


.title-cities {
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
margin-top: 30px;
margin-bottom: 20px;
background-color: #d7ecff;
text-align: center;
}

.toggle-button {
position: absolute;
top: 0.75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}


@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}
