* {
box-sizing: border-box;
}

.all-cities {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

body {
font-family: 'Times New Roman', Times, serif;
margin: 0;
padding: 0;
}

.barSearch {
display: table;
margin: 0 auto;
}

.barReserve {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
}

.blue-backg {
background-color: white;
color:#1761a0;
height: 280vh;
width: 100vw;
}

.break{
margin-top: 2%;
height: 50px;
background-color: #d7ecff;
font-size: 30px;
color: #1761a0;
font-weight: bolder;
}

.brand-title {
margin-top: 15px;
height: 55px;
font-size: 50px;
margin-right: 75%;
}

.cards {
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 30px;
margin-top: 40px;
}

.carousel {
width: 200px;
}

.Carousel-logo-searchbar{
display: flex;
flex-direction: row;
}

.center-img{
margin-left: 45%;
}

.lost-please{
width: 1500px;
text-align: center;
font-size: 50px;
margin-top: 20px;
color: #1761a0;

}

.landingLink{
color: #1761a0;
}

.navbar-links {
height: 30px;
margin-left: 65%;
}

.navbar-links ul {
display: flex;

}

.navbar-links li {
list-style: none;
}

.navbar-links a {
display: flex;
flex-direction: row;
margin-left: 25px;
text-decoration: none;
color: #1761a0;
}

.navbar-links li:hover {
background-color: #4590d1;
}

.navbar {
display: flex;
position: fixed;
z-index: 3; 
width: 100vw;
top: 0;
justify-content: space-between;
color: #1761a0;
align-items: center;
background-color: #d7ecff;
}

.photo-cities{
height: 150px;
width: 300px;
box-shadow: 2px 2px 10px 5px grey;
}

.photo-cities:hover{
  cursor: pointer;
  transform: rotate(-10deg);
  transition: all 1s ease;
}

.SearchBar-Reserve{
display: flex;
flex-direction: column;
}

.test-hide {
display: none;
}


.title-cities {
margin-top: 30px;
margin-bottom: 20px;
background-color: #d7ecff;
text-align: center;
}

.toggle-button {
position: absolute;
top: 0.75rem;
right: 1rem;
display: none;
flex-direction: column;
justify-content: space-between;
width: 30px;
height: 21px;
}


@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }

  .test-hide {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 3rem;
    width: 30px;
    height: 21px;
  }
}
