.back-create{
    background-color: #d7ecff;
    border-color:#1761a0;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
    color: #1761a0;
}
.fondo{
    height: 100vh;
}
.eliminatebutton1{
    width: fit-content;
    border-color: #1761a0;;
    height: 30px;
    background-color: #d7ecff;
    color: #1761a0;
    border-radius: 10px;
}

