.cardPrincipal{
    border-style: solid;
    border-color:#1761a0;
    height: 400px;
    width: 280px;
    margin: 10px ;
}

.imagen{
    border-radius: 30px;
    margin-left: 35px;
}

.dirandcity{
    text-align: center;
}

.btn-clear{
    background-color: #d7ecff;
    border: none;
}