.cardsDiv{
    width: 98vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.back-create{
    background-color: #d7ecff;
    border-color:#1761a0;
    margin: 5px;
    border-radius: 5px;
}