.body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
.cardPrincipal{
    border-style: solid;
    border-color:#1761a0;
    height: fit-content;
    width: 280px;
    margin: 10px ;
    border-radius: 10px;
    font-weight: bold;
}

.btnAdmin1{
    font-weight: bold;
    font-size: 15px;
    background-color: #d7ecff;
    color: #1761a0;
    height: 40px;
    width: 120px;
    border-color: #1761a0;
    border-radius: 10px;
    margin: 0px 0px 3px 3px;
}

.imagen{
    border-radius: 30px;
    margin-left: 35px;
}

.dirandcity{
    text-align: center;
}

.btn-clear{
    background-color: #d7ecff;
    border-color:#1761a0;
    border-radius: 5px;
    margin: 3px 0px 0px 3px;
    font-weight: bold;
    color:#1761a0;
}