.eliminatebutton{
    width: 25px;
    height: 30px;
    background-color: red;
}

.cardDiv{
    margin: 15px;
    height: 100px;
    width: 95%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: solid;
    border-width: 1px;
}

.img{
    height: 90px;
    width: 90px;
    border-radius: 30px;
}