.emergencies{
    /*background-image: url("../../media/mapa.jpg");*/
    height: 100vh;
    width: 100vw;
    background-repeat: repeat;
    background-size: contain;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-emergencies{
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
display: flex;
flex-direction: row;
justify-content: center;
font-size: 60px;
width: fit-content;
/*margin-left: 30%;
margin-right: 30%;*/
margin-left: 30vw;
margin-right: 30vw;
text-align: center;
margin-bottom: 2%;
background-color:  rgb(116, 0, 0);
color: white;
height: 75px;
width: 550px;
text-transform: uppercase ;
font-weight: bold;
animation: glowing 1300ms infinite;
}

.break-emergency{
  height: 50px;
  background-color: #d7ecff;
  font-size: 30px;
  color: #1761a0;
  font-weight: bolder;

  }

.buttonHome{
  background-color: transparent;
  border: none;
  margin: 5px;
  width: fit-content;
}
.buttonHome:hover{
transform: scale(1.2);
transition: all 1.5s ease;
}

.TopBar-Emergencies{
  height: 60px;
  margin-bottom: 20px;
  background-color: #d7ecff;
}

@keyframes glowing {
    0% {
      background-color:  rgb(116, 0, 0);
      box-shadow: 0 0 5px 5px  rgb(116, 0, 0);
    }
    50% {
      box-shadow: 0 0 15px 5px  rgb(116, 0, 0);
      background-color:  rgb(116, 0, 0);
    }
    100% {
      background-color:  rgb(116, 0, 0);
      box-shadow: 0 0 5px 5px  rgb(116, 0, 0);
    }
  }
