.search-bar{
    margin: 5px;
    width: 370px;
    margin-top: 30px;
}

.btn-search{
    margin: 5px;
    border-radius: 20px;
    border-color: #1761a0;
    background-color: #d7ecff;
    color: #1761a0;
}